<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Patient</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="hero">
        <nav class="navbar navbar-expand-lg navbar-dark nav-custom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item nav-li-custom">
                            <a class="nav-link active" href="/">Group_11_002_iCAREAPP</a>
                        </li>
                        <li class="nav-item nav-li-custom">
                            <a class="nav-link active" href="/iCareBoard">iCare Board</a>
                        </li>
                        <li class="nav-item nav-li-custom">
                            <a class="nav-link active" href="/addPatient">Add Patient</a>
                        </li>
                        <li class="nav-item nav-li-custom">
                            <a class="nav-link active" href="/myBoard">My Board</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1>Add Patient</h1>
        <div class="detail">
            <form action="addPatient" method="post">
                <label>Name</label><br>
                <input type="text" placeholder="Enter Patient Name" name="Name" required><br>
                <label>Address</label><br>
                <select name="Address" required>
                    <% data.forEach(function(val){ %>
                        <option name="Address" value="<%=val.ID%>">
                            <%=val.ID%>
                        </option>
                        <% }) %>
                </select><br>
                <label>Date of Birth</label><br>
                <input type="text" placeholder="Enter Patient Date of Birth" name="DateOfBirth" required><br>
                <label>Height</label><br>
                <input type="number" step="0.01" placeholder="Enter Patient Height" name="Height" required><br>
                <label>Weight</label><br>
                <input type="number" step="0.01" placeholder="Enter Patient Weight" name="Weight" required><br>
                <label>Blood Group</label><br>
                <input type="text" placeholder="Enter Patient Blood Group" name="BloodGroup" required><br>
                <label>Bed ID</label><br>
                <input type="text" placeholder="Enter Patient Bed ID" name="BedID" required><br>
                <label>Treatment Area</label><br>
                <input type="text" placeholder="Enter Patient Treatment Area" name="TreatmentArea" required><br>
                <button type="submit" class="btn btn-custom"><i class="fa fa-solid fa-user-plus i-custom"></i> Register</button><br>
            </form>
        </div>
    </div>

    

</body>

</html>