.nav-custom {
    background-color: #3399ff;
}

.nav-li-custom {
    margin: auto 10px;
}

body {
    background-color: #DEF5E5;
}

h1 {
    color: #3399ff;
    margin: 2rem 20%;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn {
    margin-left: 84%;
    margin-bottom: 1rem;
    background-color: #3399ff;
    color: #fff;
    margin-top: -1rem;
}

.btn-2 {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.main {
    margin: auto 3rem;
}

td {
    border-color: #777;
    text-align: center;
}

th {
    text-align: center;
}

a {
    color: #333;
}

.detail {
    margin: 3rem 20%;
}

input {
    margin-bottom: 1rem;
    width: 70%;
}

select {
    margin-bottom: 1rem;
}

label {
    margin-bottom: 0.3rem;
}

.detail .btn {
    margin-left: 0;
    margin-top: 1rem;
}

.ul-list {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3rem;
}

.btn-form {
    margin: 0;
}

.input-form {
    width: 60%;
    margin: 0 3rem;
}

table {
    border: 3px solid #3399ff !important;
}

a {
    text-decoration: none;
}

.front-page-dec {
    background-color: #3399ff;
    color: #fff;
    font-weight: bold;
    border: 1px solid #FBF4E9;
    letter-spacing: 2px;
}

.radio-input {
    width: auto;
}

.a-ul {
    text-decoration: underline;
}

.btn-custom {
    width: 15em;
    background-color: #3399ff;
    text-align: left;
    margin-bottom: 1em;
    color: #fff !important;
    font-size: large;
    padding: 0.5em;
    letter-spacing: 5px;
    font-weight: bolder;
    text-transform: uppercase;
}

.i-custom {
    margin-right: 1.8em;
    scale: 1.5;
    margin-left: 1em;
}

.dp-item {
    width: 25%;
    display: inline-block;
    border: 2px solid #3399ff;
}

.dp-i {
    scale: 3;
    text-align: center;
}

.card-img-top {
    width: 19.9rem;
    height: 250px;
    background-size: cover;
}